/* Начало reset */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Конец reset */


/* font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

/* Ограничиваем контент */
.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Используем для всех заголовков*/
.title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

/* Начало header__top */

.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__btn{
  display: none;
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__list-item+.menu__list-item {
  margin-left: 32px;
}

.menu__list-link {
  padding: 0 9px 9px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #373A39;
  text-transform: uppercase;
  transition: all .5s;

}

.menu__list-link:hover {
  border-bottom: 1px solid #FCBB08;
}

/* Конец header_top */

/* Начало header__content */

.header__content {
  background-image: url(/images/Header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #fff;
  margin-bottom: 19px;
  margin-top: auto;
  padding-top: 180px;
}

.header_subtitle {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin-bottom: auto;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 94px);
  justify-content: space-between;
}
 
.header__icon {
  margin-bottom: 62px;
}

/* Конец header__content */

/* Секция about */

.about {
  background-color: #E5E5E5;
  padding: 152px 0 144px;
}

.about__content-inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-size: 48px;
}

.about__text p {
  max-width: 770px;
  margin-bottom: 16px;
}

/* Конец секции about */

/* Начало секции expertise */

.expertise {
  padding: 140px 0 160px;
  background: #FFFFFF;
}

.expertise__title {
  margin-bottom: 90px;
}

.expertise__inner {
  display: flex;
  margin-bottom: 110px;
}

.expertise__info {
  width: 370px;
  margin-top: 10px;
  margin-right: 30px;
  flex: none;
}

.expertise__info-item {
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  position: relative;
}

.expertise__info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}

.expertise__info-item span::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #f0f0f0;
  right: -7px;
  top: -2px;
  width: 100%;
}

.expertise__text p {
  margin-bottom: 25px;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
}

.expertise__item {
  width: 370px;
  padding-left: 85px;
  position: relative;
}

.expertise__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise__item--design::before{
  content: "";
  background-image: url(/images/1_icon.svg)
}

.expertise__item--dev::before{
  background-image: url(../images/2_icon.svg);
}

.expertise__item--marketing::before{
  background-image: url(../images/3_icon.svg);
}
.expertise__item-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.expertise__item-text {
  color: #000;
  margin-bottom: 188px;
}
/* Конец секции expertise */

/* Начало секции magic */

.magic{
  background-color: #F6F8FA;
  background-image: url(/images/magic_dog.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 82%;
}

.magic__inner{
  max-width: 400px;
  margin-left: auto;
  padding: 100px 0 190px;
}

.magic__title{
  margin-bottom: 67px;
}

.magic__text p{
  margin-bottom: 25px;
}

/* Конец секции magic */

/* Portfolio */

.portfolio{
  padding: 140px 0 165px;
}

.portfolio__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.portfolio__content{
  column-count: 4;
  column-gap: 22px;
  margin-bottom: 72px;
}

.portfolio__item{
  margin-bottom: 22px;
  position:relative;
}

.portfolio__item img{
  width: 100%;
}

.portfolio__item-link{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #4c4a4a;
  border: 12px solid #666565;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease;
}

.portfolio__item:hover .portfolio__item-link{
 opacity: 1;
}

.portfolio_add{
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #242121;
  text-transform: uppercase;
  padding: 42px 15px 41px;
  background: #F6F8FA;
  margin-bottom: 130px;
}

.blockquote{
  max-width: 650px;
  margin: 0 auto 148px;
  text-align: center;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
  margin-bottom: 51px;
}

.blockquote__author{
  display: block;
  padding-top: 51px;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #9E9E9E;
}

.portfolio__video{
  background: url(/images/bg.jpg);
  height: 324px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 165px;
}

.portfolio__numbers{
  display: flex;
  justify-content: space-around;
}

.portfolio__numbers-item{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
  margin-bottom: 9px;
}

.portfolio__numbers-item span{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  display: block;
}

.portfolio__filter-btn{
  margin-right: 40px;
}

.portfolio__btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 2px;
  color: #333333;
  text-transform: uppercase;
  padding: 0 4px 5px;;
  margin-right: 25px;
}

.mixitup-control-active{
  border-bottom: 1px solid #FCBB08;
}

/* End Portfolio section*/

/* Slider section */
/* 
.slider-blog{
  padding: 115px 0;
  background-color: #F8F6FA;
} */

.slider-blog__item-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  display: flex;
  align-items: flex-end;
  color: #242121;
  margin-bottom: 10px;
  max-width: 675px;
  display: inline-block;
}

.slider-blog__item-descr{
  max-width: 585px;
}

.slick-dots{
  display: flex;
}

.slick-dots li + li{
  margin-left: 13px;
}

.slick-active button{
  width: 10px;
  height: 10px;

}

.slick-dots button{
  background-color: #242421;
  opacity: 0.4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
}

.team{
  padding: 120px 0 132px;
  background-color: #dcdada;
}

.title__team{
  margin-bottom: 102px;
}

.team-items{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team_name{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
  padding: 35px 0 12px;
}

.team_poisiton{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #373A39;
}

.price{
  background: #F6F8FA;
  padding: 145px 0 160px;
}

.title__price{
  margin-bottom: 90px;
}

.price__items{
  display: flex;
  justify-content: space-between;
}

ul.price__item{ 
  background-color:#FFFFFF;
  width: 370px;
  text-align: center;
  padding: 24px 25px 50px;
}

.price__item li{
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 30px;
}

.price__item .price__item-name{
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
}

.price__item .price__item-price{
  font-size: 80px;
  font-weight: 300;
  line-height: 109px;
  color: #242121;
  margin-bottom: 50px;
}

.price__item-price sup{
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  color: #242121;
}

.price__item-link{
  display: block;
  margin-top: 70px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
}

.clients{
  padding: 70px 0 95px;;
}

.clients__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connect{
  padding: 145px 0 160px;
  background-image: url(/images/map.jpg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position:right 65%;
}

.form{
  max-width: 570px;
}

.connect__title{
  margin-bottom: 80px;
}

.form input,
.form textarea{
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #373A39;
  text-transform: uppercase;
  font-weight: 400; 
  padding: 16px 0;
  margin-bottom: 16px;
}

.form input::placeholder, 
.form textarea::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3.70909px;
}

.form textarea{
  min-height: 140px;
  resize: none;
}

.form button{
  background-color: #242121;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 17px 70px 15px;
  border: none;
  cursor: pointer;
}

.footer_top{
  padding: 110px 10px 60px;
  background-color: #333;
  text-align: center;
}

.footer__logo{
  display: inline-block;
  padding: 0 35px 4px;
  border-bottom: 2px solid #FCBB08;
  margin-bottom: 74px;
}

ul.footer__social{
  display: flex;
  justify-content: center;
  margin-bottom: 65px; 
}

.footer__social-list{
  padding: 0 15px;
}

.footer__social-link{
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer_contact{
  font-size: 14px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer_contact a{
  display: block ;
  margin-bottom: 10px 0;
  color: #fff;
  margin-bottom: 57px;
}

.to_top{
  display: inline-block;
}

.footer_copy{
  background-color: #2A2C2B;;
  padding: 43px 10px;
}

.footer_copy p{
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
  text-align: center;
}

@media(max-width: 768px){
  .menu__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    background-color: #000;
    transform: translateY(-200%);
    transition: all 1s;
  }
  ul.menu__list{
    padding: 90px 0 15px;
  }
  .menu__list-link{
    display: block;
    padding: 15px 0;
    color: #fff;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }
  .logo{
    position: relative;
    z-index: 2;
  }
  .menu__btn{
    display: block;
    background-color: transparent;
    border: none;
    padding: 0; 
    margin-top: 35px;
    position: relative;
    z-index: 2;
  }
  .header__top-inner{
    align-items: center;
  }
  .header__top-inner.header__top-inner--active .menu__list{
    transform: translateY(0%);
  }
  .header__top-inner.header__top-inner--active .menu__btn path{
    fill: white
  }
  .header__title {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 10px;
  }
  .header_subtitle{
    font-size: 14px;
    line-height: 16px;
  }
}

@media(max-width: 440px){
  .header__title{
    font-size: 36px;
    line-height: 44px;
  }
  .header_subtitle{
    font-size: 12px;
    line-height: 14px;
  }
}